<p id="notice"><%= notice %></p>
  <div class="row">
    <% @videos.each do |video| %>
    <div class="col s8 m4">   
      <div class="card">
          <div class="card-image waves-effect waves-block waves-light">
             <%= raw("#{image_tag(video.preview_images[0])}")%>
          </div>
          <div class="card-content">
            <span class="card-title activator grey-text text-darken-4" style="font-size : 15px">
              <div style="width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis\">
               <%= "#{ video.title}" %>
              </div>
            </span>
            <%= link_to "View",video_path(video)%> | <%= link_to "Edit",edit_video_path(video)%> | <%= link_to "Delete",video, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </div>
        </div>
    <% end %>
  </div>